In [6]:
import pandas as pd
import os

In [8]:
#read in the crank angle position
root="data"
ca_path=os.path.join(root, "CrankAnglePosition.csv")
headers=["angle", "time"]
df_ca = pd.read_csv(ca_path,names=headers)  
df_ca.head()

   angle    time
0   -2.0  0.0000
1   -1.0  0.0001
2    0.0  0.0002
3    1.0  0.0003
4    1.5  0.0004

In [9]:
df_ca.describe()

              angle          time
count  1.048576e+06  1.048576e+06
mean   3.552149e+02  5.242875e+01
std    2.065277e+02  3.026980e+01
min   -2.000000e+00  0.000000e+00
25%    1.780000e+02  2.621438e+01
50%    3.520000e+02  5.242875e+01
75%    5.320000e+02  7.864312e+01
max    7.170000e+02  1.048575e+02

In [11]:
#read in the crank angle position
root="data"
cp_path=os.path.join(root, "CylinderPressure.csv")
headers=["pressure", "time"]
df_cp = pd.read_csv(cp_path,names=headers)  
df_cp.head()

   pressure    time
0  2.491912  0.0000
1  2.562797  0.0001
2  2.650308  0.0002
3  2.714916  0.0003
4  2.727242  0.0004

In [12]:
df_cp.describe()

           pressure          time
count  1.048576e+06  1.048576e+06
mean   2.630872e+00  5.244256e+01
std    6.875252e+00  3.028050e+01
min   -3.368239e+00  0.000000e+00
25%   -2.353658e-01  2.621438e+01
50%   -1.244278e-02  5.245375e+01
75%    1.358361e+00  7.866813e+01
max    4.880381e+01  1.050000e+02